@import '../../Variable.scss';

@mixin flexbox($justify-content: center,$align-items: center,$display: flex) {
	justify-content: center;
	align-items: center;
	display: flex;
}

.cpuIdLink {
	color: black;
	text-decoration: none;
	margin: 24px;
}

.allCpuParts {
	// border: solid red;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	margin-top: 40px;
	height: 100vh;
	padding: 20px;
}

.cpuForm {
	-webkit-box-shadow: 9px 4px 6px 2px rgba(161, 161, 161, 0.75);
	-moz-box-shadow: 9px 4px 6px 2px rgba(161, 161, 161, 0.75);
	box-shadow: 9px 4px 6px 2px rgba(161, 161, 161, 0.75);
	margin-top: 7vh;
	height: 35vh;
	width: 18vw;
	border: 2px solid rgb(245, 241, 241);
}

.cpuForm:hover {
	transform: scale(1.04);
}

.pcImage {
	width: 100%;
	height: 160px;
}

.productInfo {
	width: 100%;
	font-size: 14px;
	justify-content: space-around;
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 10vh;
}
.right {
	justify-content: flex-end;
	align-items: center;
	display: flex;
}
.info {
	justify-content: center;
	align-items: center;
	display: flex;
	background: white;
	border-top: 1px solid rgb(196, 196, 194);
}

@media (max-width: 414px) {
	.cpuIdLink {
		width: 70%;
		// border: solid red;
	}
	.allCpuParts {
		height: 160vh;
		@include flexbox;
	}
	.cpuForm {
		border: 2px solid rgb(226, 226, 226);
		// border: 2px solid yellow;
		margin-bottom: 20px;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		height: 35vh;
		width: 100%;
	}
	.info {
		border-top: 2px solid rgb(223, 223, 220);
		height: 13vh;
		justify-content: space-between;
		align-items: flex-end;
		display: flex;
	}

	.productInfo {
		width: 100%;
		height: 12vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		align-content: space-around;
	}
	.right {
		justify-content: flex-end;
		align-items: center;
		display: flex;
	}
	.addShopping {
		border-left: 2px solid rgb(223, 223, 220);
		justify-content: center;
		align-items: center;
		display: flex;
		height: 12vh;
		width: 24vw;
	}
}

@media (max-width: 375px) {
	.allCpuParts {
		height: 160vh;
	}
	.cpuForm {
		border: 2px solid rgb(226, 226, 226);
		// border: 2px solid red;
		margin-bottom: 20px;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		height: 39vh;
		width: 100%;
	}
	.info {
		border-top: 2px solid rgb(223, 223, 220);
		height: 13vh;
		justify-content: space-between;
		align-items: flex-end;
		display: flex;
	}

	.productInfo {
		width: 38vw;
		height: 12vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		align-content: space-around;
	}
	.right {
		justify-content: flex-end;
		align-items: center;
		display: flex;
	}
	.addShopping {
		border-left: 2px solid rgb(223, 223, 220);
		justify-content: center;
		align-items: center;
		display: flex;
		height: 12vh;
		width: 24vw;
	}
}
