@import '../../Variable.scss';

@mixin border-radius($radius: 5px) {
	border-radius: $radius;
}

@mixin flexbox ($align-items: center, $justify-content: center, $display: flex) {
	align-items: $align-items;
	justify-content: $justify-content;
	display: $display;
}

.completedPcBtn {
	@include border-radius;
	width: 150px;
	height: 40px;
	font-size: 14px;
	background: blue;
	border: 1px solid transparent;
	color: $PC;
}

.completedPcBtn:hover {
	background: rgb(0, 28, 211);
}

.buildsMain {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	margin-top: 40px;
	border-bottom: solid 1px rgb(121, 120, 120);
}

.mappedForm {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	border: 2px solid rgb(228, 227, 227);
	height: 32vh;
	width: 16vw;
	margin-bottom: 20px;
}
.mappedForm:hover {
	border: 3px solid rgba(48, 8, 141, 0.904);
}

.postContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: stretch;
	// border: red solid 2px;
	margin-top: 3vh;
	font-size: 14px;
}

.completedImage {
	width: 15vw;
	height: 16vh;
	// border: 2px solid yellow;
	margin-bottom: 7px;
}

.descriptionForm {
	height: 10vh;
	width: 15vw;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	h3 {
		width: 100%;
		height: 100%;
		flex-direction: column;
		word-wrap: break-word;
		display: flex;
		align-content: flex-start;
	}
}

.completedPriceForm {
	border-top: 2px solid gray;
	width: 15vw;
	@include flexbox;
}

@media (max-width: 414px) {
	.mappedForm {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
		border: 2px solid rgb(228, 227, 227);
		height: 31vh;
		width: 45vw;
		margin-bottom: 20px;
	}
	.mappedForm:hover {
		border: 3px solid rgba(48, 8, 141, 0.904);
	}

	.postContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
		align-content: stretch;
		font-size: 10px;
	}

	.completedImage {
		width: 43vw;
		height: 16vh;
		margin-bottom: 7px;
	}

	.descriptionForm {
		height: 10vh;
		width: 44vw;
	}

	.completedPriceForm {
		border-top: 2px solid gray;
		width: 44vw;
		@include flexbox;
	}
}

// -------Iphone 6/7/8 Normal Size----------

@media (max-width: 414px) {
	.mappedForm {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
		border: 2px solid rgb(228, 227, 227);
		height: 31vh;
		width: 45vw;
		margin-bottom: 20px;
	}
	.mappedForm:hover {
		border: 3px solid rgba(48, 8, 141, 0.904);
	}

	.postContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
		align-content: stretch;
		font-size: 9px;
		// margin-top: 3vh;
	}

	.completedImage {
		width: 42vw;
		height: 16vh;
		// border: 2px solid yellow;
		margin-bottom: 7px;
	}

	.descriptionForm {
		// border: 2px solid green;
		height: 10vh;
		width: 44vw;
	}

	.completedPriceForm {
		border-top: 2px solid gray;
		width: 44vw;
		@include flexbox;
	}
}
